@import '~bulma/sass/utilities/initial-variables';

// $black: #1A202C;
// $black-bis: #2D3748;
// $black-ter: #4A5568;
// $grey-darker: #4A5568;
// $grey-dark: #718096;
// $grey: #A0AEC0;
// $grey-light: #CBD5E0;
// $grey-lighter: #E2E8F0;
// $white-ter: #EDF2F7;
// $white-bis: #F7FAFC;
// $white: #FFFFFF;

$primary: $green;

$family-sans-serif: ('IBM Plex Sans', $family-sans-serif);
$family-monospace: ('IBM Plex Mono', $family-monospace);

@import '~bulma/sass/utilities/_all';

@import '~bulma';
@import '~buefy/src/scss/buefy';
